livekit
livekit-agents
livekit-plugins-deepgram
livekit-plugins-openai
livekit-plugins-elevenlabs
livekit-plugins-silero
# python"name of file".py download-files to download all necessarsy files such as model weights for silero VAD
# python "name of file".py start -> to start the program

